<div class="container">
  <%= form_for [:profile, @question] do |f| %>
    <div class="row">
      <div class="col-12">
        <%= f.label :title, "題名" %>
        <%= f.text_field :title, class: 'form-control' %>
        <%= raw errmessage(@question, "title") %>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <%= f.label :description, "質問文" %>
        <%= f.text_area :description, size: '30x15', class:'form-control' %>
        <%= raw errmessage(@question, "description") %>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button type="submit" class="mt-4 btn btn-lg btn-block btn-primary">登録する</button>
      </div>
    </div>
  <% end %>
</div>
