
<article class="col-12 resume-wrapper text-center position-relative">
  <%= link_to(profile_question_url(question.questioner, question),style: 'text-decoration:none;') do %>
  <div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
    <div class="resume-header pt-4 pt-md-0">
      <div class="media flex-column flex-md-row">
        <%= image_tag(question.questioner.avatar_image.url(:medium), class: 'mr-3 img-fluid picture mx-auto') %>
        <div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
          <div class="primary-info">
            <h2 class="nickname mt-0 mb-1 text-white text-uppercase text-uppercase">
              <%= question.title %>
            </h2>
            <p><%= question.description %><p>
              <h2 class="nickname mt-0 mb-1 text-white text-uppercase text-uppercase">
                From <%= question.questioner.nickname %>
                <br class="d-block d-sm-none">
                To <%= question.questioned.nickname %>
              </h2>
            </div>
          </div>
          <%= image_tag(question.questioned.avatar_image.url(:medium), class: 'mb-4 mr-3 img-fluid picture mx-auto') %>
        </div>
      </div>
    </div>
    <% end %>
  </article>
