<article class="resume-wrapper text-center position-relative">
  <div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
    <div class="resume-header pt-4 pt-md-0">
      <div class="media flex-column flex-md-row">
        <%= link_to(profile_url(@question.questioner), class: 'mx-auto') do %>
        <%= image_tag(@question.questioner.avatar_image.url(:medium), class: 'mr-3 img-fluid picture mx-auto') %>
        <% end %>
        <div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
          <div class="primary-info">
            <h2 class="nickname mt-0 mb-1 text-white text-uppercase text-uppercase">
              <%= @question.title %>
            </h2>
            <p><%= @question.description %><p>
              <h2 class="nickname mt-0 mb-1 text-white text-uppercase text-uppercase">
                <%= link_to @question.questioned.nickname, profile_url(@question.questioned) %>へ
                <%= link_to @question.questioner.nickname, profile_url(@question.questioner) %>より
                <br class="d-block d-sm-none">
                <% if @question.questioner.user_id == current_user.id %>
                <%= link_to '編集', edit_profile_question_url(@profile, @question), class: 'btn btn-sm btn-outline-secondary' %>
                <%= link_to '削除', profile_question_url(@profile, @question), method: :delete, class: 'btn btn-sm btn-outline-secondary' %>
                <% end %>
                <%= link_to '返信', new_profile_question_answer_url(@profile, @question), class: 'btn btn-sm btn-outline-secondary' %>
              </h2>
            </div>
          </div>
          <%= link_to(profile_url(@question.questioned), class: 'mx-auto') do %>
          <%= image_tag(@question.questioned.avatar_image.url(:medium), class: 'mb-4 mr-3 img-fluid picture mx-auto') %>
          <% end %>
        </div>
      </div>
    </div>
  </article>
  <% @answers.all.each do |answer| %>
  <article class="resume-wrapper text-center position-relative">
    <div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
      <div class="resume-header pt-4 pt-md-0">
        <div class="media flex-column flex-md-row">
          <%= link_to(profile_url(answer.profile), class: 'mx-auto') do %>
          <%= image_tag(answer.profile.avatar_image.url(:medium), class: 'mr-3 img-fluid picture mx-auto') %>
          <% end %>
          <div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
            <div class="primary-info">
              <h2 class="nickname mt-0 mb-1 text-white text-uppercase text-uppercase">
                <%= link_to answer.profile.nickname, profile_url(answer.profile) %>
                <br class="d-block d-sm-none">
              </h2>
              <p><%= answer.description %><p>
              </div>
              <% if answer.profile_id == current_user.id %>
              <h2 class="nickname mt-0 mb-1 text-white text-uppercase text-uppercase">
                <%= link_to '編集', edit_profile_question_answer_url(@profile, @question, answer), class: 'btn btn-sm btn-outline-secondary' %>
                <%= link_to '削除', profile_question_answer_url(@profile, @question, answer), method: :delete, class: 'btn btn-sm btn-outline-secondary' %>
              </h2>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </article>
    <% end %>
