<div class="container">
  <%= form_for(@profile) do |f| %>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :last_name, "苗字" %>
      <%= f.text_field :last_name, class: 'form-control' %>
      <%= raw errmessage(@profile, "last_name") %>

    </div>
    <div class="form-group col-md-6">
      <%= f.label :first_name, "名前" %>
      <%= f.text_field :first_name, class: 'form-control' %>
      <%= raw errmessage(@profile, "first_name") %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :nickname , "ニックネーム"%>
      <%= f.text_field :nickname, class: 'form-control' %>
      <%= raw errmessage(@profile, "nickname") %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :avatar_image , "プロフィール画像"%>
      <%= f.file_field :avatar_image, class: 'form-control' %>
      <%= raw errmessage(@profile, "avatar_image") %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :sex, "性別" %>
      <%= f.select :sex, Profile.sexes.keys.to_a, {}, class: 'form-control' %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :birthday, "生年月日" %>
      <div class= "form-control">
        <%= raw sprintf(
          f.date_select( 
            :birthday, 
            :use_month_numbers  => true , 
            :start_year => 1950,
            :end_year => -18.year.from_now.year, 
            :default => Date.new(2000, 1, 1), 
            :date_separator => '%s'
          ), '年', '月') + '日'
        %> 
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :usertype, "Diversity Voyage - 参加タイプ" %>
      <%= f.select :usertype, Profile.usertypes.keys.to_a, {}, class: 'form-control' %>
    </div>
    <div class="form-group col-md-6">
      <%= f.fields_for :profile_course do |course_field| %>
      <%= course_field.label :course_id, "Diversity Voyage - 参加コース" %>
      <%= course_field.select :course_id, Course.all.map{|i| [i.full_name, i.id]}, {:prompt => '選択してください'}, class: 'form-control'  %>
      <% end %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :school, "学校名" %>
      <%= f.text_field :school, class: 'form-control', value: '東洋大学' %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :major_id, "専攻(東洋生用)" %>
      <%= f.select :major_id, Major.all.map{|i| [i.full_name, i.id]}, {:prompt => '選択してください'}, class:'form-control'%>
      <%= raw errmessage(@profile, "major_id") %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :graduated, "在学/既卒" %>
      <%= f.select :graduated, Profile.graduateds.keys.to_a, {}, class: 'form-control' %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :job_id, "職業" %>
      <%= f.select :job_id, Job.all.map{|i| [i.name, i.id]}, {:prompt => '選択してください'}, class:'form-control' %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <%= f.label :facebook, "Facebook URL" %>
      <%= f.text_field :facebook, class: 'form-control', placeholder: 'facebook_url' %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :instagram, "Instagram URL" %>
      <%= f.text_field :instagram, class: 'form-control' %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :twitter, "Twitter URL" %>
      <%= f.text_field :twitter, class: 'form-control' %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :url_title, "その他のURLのタイトル" %>
      <%= f.text_field :url_title, class: 'form-control' %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :url, "その他のURL" %>
      <%= f.text_field :url, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, "自己紹介" %>
    <%= f.text_area :description, size: '30x15', class:'form-control' %>
  </div>
  <button type="submit" class="btn btn-primary">登録する</button>
  <% end %>
</div>
