<div class="col-md-6">
  <%= link_to(profile_url(profile), class: "text-dark gtm-profiles-#{profile.id}", style:'text-decoration: none;') do %>
  <div class="profile-card card flex-md-row mb-4 shadow-sm h-md-250">
    <%= image_tag(profile.avatar_image.url(:medium), class: 'profile-card-image card-img-right flex-auto') if profile.avatar_image.present? %>
    <div class="card-body d-flex flex-column align-items-start">
      <h3 class="mb-2">
        <%= profile.full_name %>
      </h3>
      <% if profile.major.full_name.present? %>
        <p class="mb-auto">学部: <%= profile.major.full_name %></p>
      <% end %>
      <% profile.profile_course.each do |profile_course| %>
        <p class="mb-auto">コース: <%= profile_course.course.full_name %></p>
      <% end %>
      <p class="mb-auto">職業: <%= profile.job.name %></p>
      <p class="card-text mb-auto"><%= truncate(strip_tags(markdown(profile.description))) %></p>
    </div>
  </div>
  <% end %>
</div>
