<div class="row mb-4">
  <div class="col-md-12 p-4 search-container">

  <div class="container-fluid">
    <%= search_form_for @q do |f| %>
    <div class="form-row">
      <div class="form-group col-md-4">
        <%= f.label :first_name_or_last_name_cont, "氏名" %>
        <%= f.search_field :first_name_or_last_name_cont, class: 'form-control form-control-sm' %>
      </div>
      <div class="form-group col-md-1">
        <%= f.label :sex, "性別" %>
        <%= f.select :sex_eq, Profile.sexes.to_a.map { |w| [w[0].humanize, w[1]] }, {:include_blank => true}, class: 'form-control form-control-sm' %>
      </div>
      <div class="form-group col-md-1">
        <%= f.label :graduated, "在学/既卒" %>
        <%= f.select :graduated_eq, Profile.graduateds.to_a.map { |w| [w[0].humanize, w[1]] }, {:include_blank => true}, class: 'form-control form-control-sm' %>
      </div>
      <div class="form-group col-md-3">
        <%= f.label :profile_course_course_country_id_eq, "参加国" %>
        <%= f.collection_select :profile_course_course_country_id_eq, Country.all, :id, :name, {include_blank: true}, {class: 'form-control form-control-sm'} %>
      </div>
      <div class="form-group col-md-3">
        <%= f.label :profile_course_course_batch_id_eq, "参加期" %>
        <%= f.collection_select :profile_course_course_batch_id_eq, Batch.all, :id, :name, {include_blank: true}, {class: 'form-control form-control-sm'} %>
      </div>

    </div>

    <div class="form-row">
      <div class="form-group col-md-3">
        <%= f.label :school_cont, "学校名" %>
        <%= f.search_field :school_cont, class: 'form-control form-control-sm' %>
      </div>
      <div class="form-group col-md-3">
        <%= f.label :major_faculty_name_eq, "専攻(東洋生用)" %>
        <%= f.collection_select :major_faculty_name_eq, Major.select(:faculty_name).distinct, :faculty_name, :faculty_name, {include_blank: true}, {class: 'form-control form-control-sm'} %>
      </div>

      <div class="form-group col-md-3">
        <%= f.label :job_id_eq, "職業" %>
        <%= f.collection_select :job_id_eq, Job.all, :id, :name, {include_blank: true}, {class: 'form-control form-control-sm'} %>
      </div>
      <div class="col-md-3 align-self-center">
        <button type="submit" class="btn btn-primary btn-block">検索する</button>
      </div>
    </div>

    <div class="form-row">

    </div>
    <% end %>
  </div>
</div>
</div>
