<!--<h3 class="text-center">プロフィール一覧</h3>-->
<div class="mt-4">
  <div class="container">
      <%= render 'search' %>
    <div class="row mb-2">
      <%= render @profiles %>
    </div>
  </div>
</div>
