<article class="resume-wrapper text-center position-relative">
  <div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
    <div class="resume-header pt-4 pt-md-0">
      <div class="media flex-column flex-md-row">
        <%= image_tag(@profile.avatar_image.url(:medium), class: 'mr-3 img-fluid picture mx-auto') %>
        <div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
          <div class="primary-info">
            <h1 class="name mt-0 mb-1 text-white text-uppercase text-uppercase"><%= @profile.full_name %></h1>
            <h2 class="nickname mt-0 mb-1 text-white text-uppercase text-uppercase">(<%= @profile.nickname %>)</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="resume-body p-5">
      <section class="resume-section summary-section mb-5">
        <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">自己紹介</h2>
        <div class="resume-section-content">
          <p class="mb-0">
            <%= markdown(@profile.description) %>
          </p>
        </div>
      </section>
      <div class="row mb-2">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-9 text-uppercase font-weight-bold">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a href="#tab1" class="nav-link active" data-toggle="tab">経験</a>
            </li>
            <% if @response.present? %>
              <li class="nav-item">
                <a href="#tab2" class="nav-link" data-toggle="tab">インタビュー</a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <section class="resume-section language-section mb-5">
            <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">プロフィール情報</h2>
            <div class="resume-section-content">
              <ul class="list-unstyled resume-lang-list">
                <% @profile.profile_course.each do |profile_course| %>
                <li class="mb-2"><span class="resume-lang-name font-weight-bold">コース:</span>
                  <%= profile_course.course.full_name %>
                </li>
                <% end %>
                <% if @profile.major.full_name.present? %>
                <li class="mb-2"><span class="resume-lang-name font-weight-bold">学部:</span> <%= @profile.major.full_name %></li>
                <% end %>
                <li class="mb-2"><span class="resume-lang-name font-weight-bold">在学/既卒:</span> <%= @profile.graduated %></li>
                <li class="mb-2"><span class="resume-lang-name font-weight-bold">職業:</span> <%= @profile.job.name %></li>
                <li class="mb-2"><span class="resume-lang-name font-weight-bold">誕生日:</span> <%= @profile.birthday %></li>
                <li class="mb-2"><span class="resume-lang-name font-weight-bold">性別:</span> <%= @profile.sex %></li>
                <li class="mb-2"><span class="resume-lang-name font-weight-bold">最終ログイン:</span> <%= @profile.user.current_sign_in_at.strftime('%m月%d日') %></li>
                <li class="mb-2"><span class="resume-lang-name font-weight-bold">ログイン回数:</span> <%= @profile.user.sign_in_count %></li>
              </ul>
              <% unless @profile.id == current_user.id %>
              <%= link_to '質問する', new_profile_question_url(@profile), class:'btn btn-lg btn-success btn-block gtm-profile-question-request' %>
              <% end %>
            </div>
          </section>
          <section class="resume-section skills-section mb-5">
            <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">リンク</h2>
            <div class="resume-section-content">
              <div class="resume-skill-item">
                <ul class="list-inline">
                  <% if @profile.facebook.present? %>
                  <li class="mb-3">
                    <%= link_to 'Facebook', @profile.facebook, target: '_blank', class: 'gtm-profile-facebook'%>
                  </li>
                  <% end %>
                  <% if @profile.instagram.present? %>
                  <li class="mb-3">
                    <%= link_to 'Instagram', @profile.instagram, target: '_blank', class: 'gtm-profile-instagram'%>
                  </li>
                  <% end %>
                  <% if @profile.twitter.present? %>
                  <li class="mb-3">
                    <%= link_to 'Twitter', @profile.twitter, target: '_blank', class: 'gtm-profile-twitter'%>
                  </li>
                  <% end %>
                  <% if @profile.url_title.present? %>
                  <li class="mb-3">
                    <%= link_to @profile.url_title, @profile.url, target: '_blank', class: 'gtm-profile-other-url'%>
                  </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </section>
          <section class="resume-section skills-section mb-5">
            <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">質問- <%= @profile.questioner_question_ids.count %>件</h2>
            <div class="resume-section-content">
              <div class="resume-skill-item">
                <ul class="list-inline">
                  <% @questioner_questions.each do |question| %>
                  <li class="mb-3">
                    <%= link_to question.title, profile_question_url(question.questioned, question.id) %>
                  </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </section>
          <section class="resume-section skills-section mb-5">
            <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">質問された- <%= @profile.questioned_question_ids.count %>件</h2>
            <div class="resume-section-content">
              <div class="resume-skill-item">
                <ul class="list-inline">
                  <% @questioned_questions.each do |question| %>
                  <li class="mb-3">
                    <%= link_to question.title, profile_question_url(question.questioned, question.id) %>
                  </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </section>
          <section class="resume-section skills-section mb-5">
            <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">紹介した人- <%= @profile.introducer_introduction_ids.count %>件</h2>
            <div class="resume-section-content">
              <div class="resume-skill-item">
                <ul class="list-inline">
                  <% @introducer_introductions.each do |introduction| %>
                  <li class="mb-3">
                    <%= link_to introduction.introduced.full_name, profile_introduction_url(introduction.introduced, introduction.id) %>
                  </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </section>
          <% if @profile.user_id == current_user.id %>
          <section class="resume-section skills-section mb-5">
            <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">設定</h2>
            <div class="resume-section-content">
              <div class="resume-skill-item">
                <ul class="list-inline">
                  <li class="mb-3">
                    <%= link_to '招待メール', new_user_invitation_path %>
                  </li>
                  <li class="mb-3">
                    <%= link_to 'プロフィール設定', edit_profile_path(current_user.id)%>
                  </li>
                  <li class="mb-3">
                    <%= link_to 'アカウント設定', edit_user_registration_path %>
                  </li>
                </ul>
              </div>
            </div>
          </section>
          <% end %>
        </div>
        <div class="col-lg-9">
          <div class="tab-content">
            <div id="tab1" class="tab-pane active">
              <!--経験-->
              <section class="resume-section experience-section mb-5">
                <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">
                  経験 - <%= @profile.experience_ids.count %>件
                  <% if @profile.user_id == current_user.id %>
                  <small class="ml-2"><%= link_to '追加', new_profile_experience_url(@profile), class: 'gtm-profile-experience-add' %></small>
                  <% end %>
                </h2>
                <div class="resume-section-content">
                  <% if current_user.profile.experience_ids.count < 5 && @profile.user_id != current_user.id %>
                  <div class="alert alert-warning">
                    <h3 class="text-center mb-3">閲覧制限</h3>
                    <p class="text-center">閲覧には自分の経験の最低5つの登録が必要です。</p>
                    <p class="text-center"><%= link_to '経験追加', new_profile_experience_url(current_user.profile) %>よりご登録お願いします。</p>
                  </div>
                  <% else %>
                  <div class="resume-timeline position-relative">
                    <%= render @experiences %>
                  </div>
                  <small class="ml-2"><%= will_paginate @experiences,:renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, :previous_label => ' &lt ', :next_label => ' &gt' %></small>
                  <% end %>
                </div>
              </section>
            </div>
            <div id="tab2" class="tab-pane">
              <!--インタビュー-->
              <section class="resume-section experience-section mb-5">
                <% if @response.present? %>
                  <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3"><%= @response.interview.title %></h2>
                  <%= render :partial => "interviews/interview", :collections => {:response => @response} %>
                <% end %>
              </section>

            </div>
          </div>
          <section class="resume-section experience-section mb-5">
            <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">
              紹介文 - <%= @profile.introduced_introduction_ids.count %>件
              <% if Introduction.find_by(introduced_id: @profile.id, introducer_id: current_user.id).blank? && (@profile.id != current_user.id) %>
              <small class="ml-2"><%= link_to '追加', new_profile_introduction_url(@profile), class: 'gtm-profile-introduction-add' %></small>
              <% end %>
            </h2>
            <div class="resume-section-content">
              <div class="row">
                <%= render @introduced_introductions %>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</article>
