<h2>アカウント有効化</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
 <!-- <%= devise_error_messages! %> -->

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    <%= raw errmessage(resource, "email")%>
  </div>

  <div class="actions">
    <%= f.submit "送信" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
