<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html:{ class: 'form-signin' }) do |f| %>
<div class="text-center mb-4">
  <!-- <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> 
  <h1 class="h3 mb-3 font-weight-normal">Created by</h1>
  <%= image_tag("giftech-logo.png", class: "mb-4", width: 250) %>
  <p><%= devise_error_messages! %></p>-->
</div>

  <div class="form-label-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder:"Email address" %>
    <%= raw errmessage(resource, "email")%>
  </div>
  <br />
  <div class="form-label-group">
    <%= f.label :password, "パスワード(#{@minimum_password_length}文字以上)" %>
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder:"Password" %>
    <%= raw errmessage(resource, "password")%>
  </div>
  <br />
  <div class="form-label-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder:"Password" %>
    <%= raw errmessage(resource, "password_confirmation")%>
  </div>

    <%= f.submit "アカウント登録", class: "btn btn-lg btn-primary btn-block mt-3" %>
    <%= render "devise/shared/links" %>

  <p class="mt-5 mb-3 text-muted text-center">© 2018 GIFTECH, ALL RIGHTS RESERVED</p>

<% end %>
