  <div class="resume-timeline-item-header mb-2">
      <% (1..7).each do |i| %>
        <div class="row">
          <div class="col">
            <strong><%= @response.interview.send("interview" + i.to_s) %></strong>
          </div>
        </div>

        <div class="row">
          <div class="col mb-2">
            <%= simple_format(@response.send("response" + i.to_s)) %>
          </div>
        </div>
      <% end %>
  </div>
