<div class="mx-auto" style="width: 95%">
  <table class="mx-auto">
    <tr>
      <th>ID</th>
      <th>名前</th>
      <th>性別</th>
      <th>誕生日</th>
      <th>大学</th>
      <th>学部</th>
      <th>卒</th>
      <th>仕事</th>
      <th>自己紹介</th>
      <th>経験数</th>
      <th>最終ログイン</th>
      <th>ログイン回数</th>
      <th>SNS</th>
    </tr>
    <% @profiles.each do |profile| %>
    <tr>
      <td><%= profile.id %></td>
      <td><%= link_to profile.full_name, profile_url(profile.id) %></td>
      <td><%= profile.sex %></td>
      <td><%= profile.birthday %></td>
      <td><%= profile.school %></td>
      <td><%= profile.major.full_name %></td>
      <td><%= profile.graduated %></td>
      <td><%= profile.job.name %></td>
      <td><%= truncate(profile.description, length:40	) %></td>
      <td><%= profile.experience.count %></td>
      <td><%= profile.user.current_sign_in_at %></td>
      <td><%= profile.user.sign_in_count %></td>
      <td>
        <p>
          <%= link_to_if profile.facebook.present?, 'F', profile.facebook, target:'_blank' %>
          <%= link_to_if profile.twitter.present?, 'T', profile.twitter, target:'_blank' %>
          <%= link_to_if profile.instagram.present?, 'I', profile.instagram, target:'_blank' %>
        </p>
      </td>
    </tr>
    <% end %>
  </table>
</div>
