<div class="mx-auto" style="width: 95%">
  <p>
    全ユーザー数: <%= Profile.all.count %>人 /
    男性数: <%= Profile.where(sex: '男性').count %>人 /
    女性数: <%= Profile.where(sex: '女性').count %>人 /
    在学数: <%= Profile.where(graduated: '在学').count %>人 /
    卒業数: <%= Profile.where(graduated: '既卒').count %>人
  </p>

  <p>
    学部割合:
    <% Profile.joins(:major).group(:faculty_name).count.each do |key, value| %>
    <%= key %>: <%= value %>人 /
    <% end %>
  </p>
  <p>
    SNS件数:
    Facebook: <%=Profile.where.not(facebook: "").count %> /
    Instagram: <%=Profile.where.not(twitter: "").count %> /
    Instagram: <%=Profile.where.not(instagram: "").count %> /
  </p>

  <p>全経験数: <%= Experience.all.count %>件</p>
</div>
