<h2>パスワード変更</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "新しいパスワード" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字まで)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "新しいパスワード" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "新しいパスワードを再入力" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "新しいパスワードを設定" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
