<h2>パスワードリセット</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <!--<%= devise_error_messages! %>-->
  
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <%= raw errmessage(resource, "email")%>
  </div>

  <div class="actions">
    <%= f.submit "パスワードリセット用リンクを送信" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
