<div class="mx-auto">
  <%= link_to(profile_introduction_url(@profile, introduction), class: 'text-dark', style:'text-decoration: none;') do %>
    <%= image_tag(introduction.introducer.avatar_image.url(:medium),  style:'width: 165px; height: 165px; object-fit: cover; border-radius:50%;') if introduction.introducer.avatar_image.present? %>
    <p class="text-center"><%= link_to introduction.introducer.nickname, profile_url(introduction.introducer_id) %></p>
  <% end %>
</div>
