<article class="resume-wrapper text-center position-relative">
  <div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
    <div class="resume-header pt-4 pt-md-0">
      <div class="media flex-column flex-md-row">
        <%= link_to(profile_url(@introduction.introducer)) do %>
        <%= image_tag(@introduction.introducer.avatar_image.url(:medium), class: 'mr-3 img-fluid picture mx-auto') %>
        <% end %>
        <div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
          <div class="primary-info">
            <h2 class="nickname mt-0 mb-1 text-white text-uppercase text-uppercase">
              <%= link_to @introduction.introduced.nickname, profile_url(@introduction.introduced) %>へ
              <br class="d-block d-sm-none">
              <% if @introduction.introducer.user_id == current_user.id %>
              <%= link_to '編集', edit_profile_introduction_url(@profile, @introduction), class: 'btn btn-sm btn-outline-secondary' %>
              <%= link_to '削除', profile_introduction_url(@profile, @introduction), method: :delete, class: 'btn btn-sm btn-outline-secondary' %>
              <% end %>
            </h2>
            <p><%= @introduction.description %><p>
              <h2 class="nickname mt-0 mb-1 text-white text-uppercase text-uppercase">
                <%= link_to @introduction.introducer.nickname, profile_url(@introduction.introducer) %>より
              </h2>
            </div>
          </div>
          <%= link_to(profile_url(@introduction.introduced)) do %>
          <%= image_tag(@introduction.introduced.avatar_image.url(:medium), class: 'mb-4 mr-3 img-fluid picture mx-auto') %>
          <% end %>
        </div>
      </div>
    </div>
  </article>
