<div class="mx-auto">
  <%= link_to(profile_question_url(@profile, question), class: 'text-dark', style:'text-decoration: none;') do %>
    <%= image_tag(question.questioner.avatar_image.url(:medium),  style:'width: 165px; height: 165px; object-fit: cover; border-radius:50%;') if question.questioner.avatar_image.present? %>
    <p class="text-center"><%= link_to question.questioner.nickname, profile_url(question.questioner_id) %></p>
  <% end %>
</div>
