<div class="container">
  <%= form_for [:profile, :question, @answer] do |f| %>
  <div class="form-row">
    <%= f.label :description, "回答文" %>
    <%= f.text_area :description, size: '30x15', class:'form-control' %>
  </div>
  <button type="submit" class="mt-4 btn btn-lg btn-block btn-primary">登録する</button>
  <% end %>
</div>
