<% if @question.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
  <ul>
    <% @question.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="top_main-content mt-4">
  <h3 class="text-center">質問文編集</h3>
  <%= render partial: "form" %>
</div>
