<article class="resume-wrapper text-center position-relative">
  <div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
    <div class="resume-header pt-4 pt-md-0">
      <div class="media flex-column flex-md-row">
        <%= link_to(profile_url(@question.questioner)) do %>
        <%= image_tag(@question.questioner.avatar_image.url(:medium), class: 'mr-3 img-fluid picture mx-auto') %>
        <% end %>
        <div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
          <div class="primary-info">
            <h2 class="nickname mt-0 mb-1 text-white text-uppercase text-uppercase">
              <%= link_to @question.questioned.nickname, profile_url(@question.questioned) %>へ
              <br class="d-block d-sm-none">
              <% if @question.questioner.user_id == current_user.id %>
              <%= link_to '編集', edit_profile_question_url(@profile, @question), class: 'btn btn-sm btn-outline-secondary' %>
              <%= link_to '削除', profile_question_url(@profile, @question), method: :delete, class: 'btn btn-sm btn-outline-secondary' %>
              <% end %>
            </h2>
            <p><%= @question.description %><p>
              <h2 class="nickname mt-0 mb-1 text-white text-uppercase text-uppercase">
                <%= link_to @question.questioner.nickname, profile_url(@question.questioner) %>より
              </h2>
            </div>
          </div>
          <%= link_to(profile_url(@question.questioned)) do %>
          <%= image_tag(@question.questioned.avatar_image.url(:medium), class: 'mb-4 mr-3 img-fluid picture mx-auto') %>
          <% end %>
        </div>
      </div>
    </div>
  </article>
