<!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
<div class="carousel-item active">
<div class="carousel-caption d-none d-md-block">
<h5>...</h5>
<p>...</p>
</div>

</div>
</div>
</div> -->

<div class="top_main-content mt-5">
  <%= image_tag('earth02.png', class: 'top_main-content_image') %>
  <h3 class="text-center">ARE YOU VOYAGER?</h3>
  <p class="text-center">This is a closed social network.<br>Please get invited from someone.</p>
</div>
<footer>
  <%= render 'layouts/footer' %>
</footer>
