<article class="resume-timeline-item position-relative pb-5">
  <div class="resume-timeline-item-header mb-2">
    <div class="d-flex flex-column flex-md-row">
      <h3 class="resume-position-title font-weight-bold mb-1"><%= experience.title %></h3>
      <div class="resume-company-name ml-auto"><%= experience.place %></div>
    </div>
    <div class="resume-position-time"><%= experience.period_from %> - <%= experience.period_to %></div>
    <div class="resume-timeline-item-desc mb-2">
      <%= experience.description %>
    </div>
    <% if @profile.user_id == current_user.id %>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <%= link_to '編集', edit_profile_experience_url(@profile, experience), class: 'btn btn-sm btn-outline-secondary' %>
        <%= button_to '削除', profile_experience_url(@profile, experience), method: :delete, class: 'btn btn-sm btn-outline-secondary' %>
      </div>
    </div>
    <% end %>
  </article>
