<div class="container">
  <%= form_for [:profile, @experience] do |f| %>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :title, "タイトル" %>
      <%= f.text_field :title, class: 'form-control' %>
      <%= raw errmessage(@experience, "title")%>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :place, "場所" %>
      <%= f.text_field :place, class: 'form-control' %>
      <%= raw errmessage(@experience, "place")%>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :period_from, "期間(FROM)" %>
      <%= f.date_field :period_from, class: 'form-control' %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :period_to, "期間(TO)"  %>
      <%= f.date_field :period_to, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, "経験内容" %>
    <%= f.text_area :description, class:'form-control' %>
    <%= raw errmessage(@experience, "description")%>
  </div>
  <%= f.submit('登録する', class: "btn btn-primary gtm-experience-submit-#{@profile.id}" ) %>
  <% end %>
</div>
