<div class="mx-auto" style="width: 95%">
  <table class="mx-auto">
    <tr>
      <th>ID</th>
      <th>質問者</th>
      <th>回答者</th>
      <th>タイトル</th>
      <th>内容</th>
    </tr>
    <% @questions.each do |question| %>
    <tr>
      <td><%= question.id %></td>
      <td><%= link_to question.questioner.full_name, questions_url(question.questioner.id) %></td>
      <td><%= link_to question.questioned.full_name, questions_url(question.questioned.id) %></td>
      <td><%= question.title %></td>
      <td><%= question.description %></td>
    </tr>
    <% end %>
  </table>
</div>
