<%= form_for(resource, as: resource_name, url: session_path(resource_name), html:{ class: 'form-signin' }) do |f| %>
<div class="text-center mb-4">
  <!-- <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> 
  <h1 class="h3 mb-3 font-weight-normal">Created by</h1>
  <%= image_tag("giftech-logo.png", class: "mb-4", width: 250) %>-->
  <p><%= devise_error_messages! %></p>
</div>

<div class="form-label-group">
  <%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder:"Email address" %>
</div>

<div class="form-label-group">
  <%= f.label :password %>
  <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder:"Password" %>
</div>

<% if devise_mapping.rememberable? -%>
<div class="form-label-group">
  <%= f.check_box :remember_me %>
  <%= f.label :remember_me %>
</div>
<% end -%>

<%= f.submit "ログイン", class: "btn btn-lg btn-primary btn-block mt-3" %>
<%= render "devise/shared/links" %>
<p class="mt-5 mb-3 text-muted text-center">© 2018 GIFTECH, ALL RIGHTS RESERVED</p>



<% end %>



<!-- <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="field">
  <%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
</div>

<div class="field">
  <%= f.label :password %><br />
  <%= f.password_field :password, autocomplete: "current-password" %>
</div>

<% if devise_mapping.rememberable? -%>
<div class="field">
  <%= f.check_box :remember_me %>
  <%= f.label :remember_me %>
</div>
<% end -%>

<div class="actions">
  <%= f.submit "Log in" %>
</div>
<% end %>

<%= render "devise/shared/links" %> -->
