<div class="mx-auto" style="width: 95%">
  <table class="mx-auto">
    <tr>
      <th>ID</th>
      <th>名前</th>
      <th>タイトル</th>
      <th>場所</th>
      <th>FROM</th>
      <th>TO</th>
      <th>詳細</th>
    </tr>
    <% @experiences.each do |experience| %>
    <tr>
      <td><%= experience.id %></td>
      <td><%= link_to experience.profile.full_name, profile_url(experience.profile.id) %></td>
      <td><%= experience.title %></td>
      <td><%= experience.place %></td>
      <td><%= experience.period_from %></td>
      <td><%= experience.period_to %></td>
      <td><%= truncate(experience.description, length:40	) %></td>
    </tr>
    <% end %>
  </table>
</div>
