/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
* require_tree .
* require_self
*/
@import "bootstrap";
@import "pages.scss";
@import "introductions.scss";
@import "profiles.scss";
@import "admin.scss";



.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

body {
}

header {
  // position: fixed;
  top: 0px;
  width: 100%;
  background-color: white;
  border-top: 5px solid #CC0000;
  box-shadow: 0px 4px 3px -3px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0px 4px 3px -3px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 4px 3px -3px rgba(0,0,0,0.4);
  z-index: 1030;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer {
    width: 100%;
    line-height: 40px;
    background-color: white;
}

.alert-notice{
  position: absolute;
  z-index: 1050;
  text-align: center;
  background-color: rgb(65, 165, 86);
  color: white;
  width: 100%;
  padding: 2px;
}

.alert-alert{
  position: absolute;
  z-index: 1050;
  text-align: center;
  background-color: rgb(252, 116, 116);
  color: white;
  width: 100%;
  padding: 0%;
  margin: 0%;
}

.field_with_errors{
  color: red;
  .form-control{
    border-color: red;
  }
}

/*
.alert-danger, .alert-alert {
  text-align: left;
  background-color: red;
  color: white;
  ul {
    list-style: none;
    padding: 0%;
    margin: 0%;
  }
}
*/