// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top_main-content {
  position: relative;
  height: 70vh;
  box-sizing: border-box;
  &_image {
   display: block;
   width: 30%;
   margin: 25px auto;
  }
}

@media (max-width: 767.98px) {
  .top_main-content {
    position: relative;
    height: 70vh;
    box-sizing: border-box;
    &_image {
     display: block;
     width: 70%;
     margin: 25px auto;
    }
  }
}
