<p>こんにちは！ <%= @resource.email %>!</p>

<p>パスワードの変更が要求されました。下記のリンクから変更可能です。.</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>パスワードの変更を要求していない場合はこのメールを無視してください。</p>
