<p>こんにちは！ <%= @resource.email %>!</p>

<p>サインインに複数回失敗したため、アカウントがロックされました。</p>

<p>アカウントをアンロックするためには下記のリンクをクリックしてください。:</p>

<p><%= link_to 'アカウントをアンロックする', unlock_url(@resource, unlock_token: @token) %></p>
