<div class="container-fluid">

	<div class="row">
		<div class="col-md-12">
			<h3 class="text-muted text-center">
				マイページ
			</h3>
		</div>
	</div>

	<div class="row" >
		<div class="col-md-4">
      <div class="shadow">
        <br>
        <div class=”center-block”>
        <%= image_tag('earth02.png', class: 'top_main-content_image') %>
        </div>
        <br>
      </div>
		</div>
		<div class="col-md-2">
      <span class="badge badge-default">氏名：<%= @profile.full_name %></span>
      <br>
      <span class="badge badge-default">ニックネーム：<%= @profile.nickname %></span>
      <br>
      <span class="badge badge-default">性別：<%= @profile.sex %></span>
      <br>
      <span class="badge badge-default">生年月日：<%= @profile.birthday %></span>
      <br>
    </div>

    <div class="col-md-2">
      <span class="badge badge-default">学部学科：<%= @profile.major.full_name %></span>
      <br>
      <span class="badge badge-default">在学/卒業：<%= @profile.graduated %></span>
      <br>
      <% @profile.profile_course.each do |user| %>
        <span class="badge badge-default">参加コース：<%= user.course.full_name  %></span>
        <br>
      <% end %>
    </div>
	</div>
  <br>

	<div class="row">
		<div class="col-md-3">
			<dl>
        <dt>
          趣味
        </dt>
        <dd>
          ロードバイク、旅、プログラミング
        </dd>
        <dt>
          やりたい事
        </dt>
        <dd>
          Vestibulum id ligula porta felis.
        </dd>
        <dd>
          Donec id elit non mi p
        </dd>
        <dt>
          Malesuada porta
        </dt>
        <dd>
          Etiam porta sem malesu
        </dd>
			</dl>
		</div>
		<div class="col-md-6">
			<dl>
				<dt>
					自己紹介
				</dt>
				<dd>
					<%= @profile.description %>
				</dd>
			</dl>
		</div>
	</div>
</div>
