<div class="footer">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-8">
        <span class="text-muted"><%= link_to '利用規約', terms_path  %></span>
        <span class="text-muted"><%= link_to 'プライバシーポリシー', policy_path  %></span>
      </div>
      <div class="col-md-4">
        <span class="text-muted">Copyright © GIFTECH All Rights Reserved.</span>
      </div>
    </div>
  </div>
</div>
