<header>
  <div class="container">


    <nav class="navbar navbar-expand-md navbar-light">
      <a class="navbar-brand" href="/">Voyagers.app</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
          <!--<strong><%= link_to current_user.id, pages_show_path %></strong>-->
          <!--<li class="nav-item">
            <%= link_to '基本情報変更', edit_user_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'プロフィール変更', edit_profile_path(current_user.id), class: 'nav-link' %>
          </li>-->
          <li class="nav-item">
            <%= link_to 'プロフィール一覧', profiles_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to '質問一覧', questions_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
          <% else %>
          <!--<li class="nav-item">
            <%= link_to 'サインアップ', new_user_registration_path, class: 'nav-link' %>
          </li>-->
          <li class="nav-item">
            <%= link_to 'ログイン', new_user_session_path, class: 'nav-link' %>
          </li>
          <% end %>

          <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
    </ul>
  </div>
</nav>
</div>


</header>
