<!DOCTYPE html>
<html>
<head>
  <title>Voyagers.app</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Voyagers.appはDiversityVoyage卒業生の非公式プラットフォームです。">
  <meta property="og:title"       content="Voyagers.app">
  <meta property="og:description" content="Voyagers.appはDiversityVoyage卒業生の非公式プラットフォームです。" />
  <meta property="og:type"        content="website" />
  <meta property="og:url"         content="https://www.voyagers.app" />
  <meta property="og:image"       content="https://www.voyagers.app/assets/earth_ogp-26d7547239ff0a1dda12586aa4aedd524a0ceb3c3c24d7dacc284d6dc6d73352.png" />
  <meta name="twitter:card"       content="summary" />
  <%= analytics_init if Rails.env.production? %>
  <%= favicon_link_tag('favicon.ico') %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <header>
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand" href="/admin">Voyagers.app</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample04">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to 'プロフィール一覧', admin_profiles_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to '経験一覧', admin_experiences_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to '質問一覧', admin_questions_path, class: 'nav-link' %>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <%= yield %>
</body>
</html>
