<!DOCTYPE html>
<html>
  <head>
    <title>Voyagers.app</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Voyagers.appはDiversityVoyage卒業生の非公式プラットフォームです。">
    <meta property="og:title"       content="Voyagers.app">
    <meta property="og:description" content="Voyagers.appはDiversityVoyage卒業生の非公式プラットフォームです。" />
    <meta property="og:type"        content="website" />
    <meta property="og:url"         content="https://www.voyagers.app" />
    <meta property="og:image"       content="https://www.voyagers.app/assets/earth_ogp-26d7547239ff0a1dda12586aa4aedd524a0ceb3c3c24d7dacc284d6dc6d73352.png" />
    <meta name="twitter:card"       content="summary" />
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PQC5VZM');</script>
    <!-- End Google Tag Manager -->
    <%= analytics_init if Rails.env.production? %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PQC5VZM"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%= render 'layouts/header' %>
    <%= render 'layouts/flush' %>
      <%= yield %>
  </body>
</html>
